---
import Base from '../layouts/Base.astro';
import Logo from '../components/Logo.astro';
---
<Base title="Rosa 15">
    <div class="splash">
        <div class="splash-center">
            <p class="splash-label">Get on the Rosa 15 mailing list — launch announcement incoming!</p>
            <form class="splash-form" action="https://rosa15.us13.list-manage.com/subscribe/post?u=1ffc9ac952ede46669a7c83f7&id=5de29c5ef2&f_id=004825eaf0" method="post">
                <input type="email" name="EMAIL" placeholder="your@email.com" required />
                <button type="submit">Notify me</button>
                <div aria-hidden="true" style="position:absolute;left:-5000px">
                    <input type="text" name="b_1ffc9ac952ede46669a7c83f7_5de29c5ef2" tabindex="-1" value="" />
                </div>
            </form>
        </div>
        <div class="mobile-logo">
            <Logo fixed={false} />
        </div>
    </div>
</Base>
